django 
django-debug-toolbar
mysqlclient 
djangorestframework 
drf-nested-routers
django-filter
djoser 
djangorestframework-simplejwt 
pillow
django-cors-headers 
django-template-mail 
django-templated-mail 
redis
celery 
eventlet 
gevent
flower 
pytest-xdist 
djangoshop-stripe 
django-redis 
whitenoise 
gunicorn 
portalocker 
autopep8 
pytest 
pytest-django 
pytest-watch 
model-bakery 
locust 
django-silk 
python_version == 3.9
